---
import Layout from "../../layouts/Layout.astro";
import Footer from "../../components/Contact.astro";
import HeaderStatic from "../../components/HeaderStatic.astro";
import { db, eq, Articulo } from "astro:db";

const { ArticuloContent } = Astro.params;
const articulos = await db
  .select()
  .from(Articulo)
  .where(eq(Articulo.titulo, ArticuloContent as string));
---

<Layout title="MdMusica" description="Una adicción sin efectos secundarios">
  <HeaderStatic />
  <main class="mt-40 mx-auto px-4 max-w-7xl">
    {
      articulos.map(({ titulo, imagen, contenido, autor }) => (
        <article>
          <h1 class="text-5xl font-bold" id="tituloNoticia">
            {titulo}
          </h1>
          <hr />
          <img
            class="my-10 w-full rounded-lg object-cover max-h-[600px]"
            src={imagen}
          />
          <div id="contenidoParrafos" class="text-2xl">
            {contenido}
          </div>
          <div class="italic text-xl mb-20 text-slate-500">
            Escrito por {autor}
          </div>
        </article>
      ))
    }
  </main>
  <Footer />
</Layout>

<script>
  window.addEventListener("DOMContentLoaded", () => {
    const contenedor: HTMLElement | null =
      document.getElementById("contenidoParrafos");

    if (contenedor) {
      const textoOriginal: string = contenedor.textContent || "";
      const parrafos: string[] = textoOriginal.split("|");
      contenedor.innerHTML = "";

      parrafos.forEach((parrafo: string) => {
        const nuevoParrafo: HTMLParagraphElement = document.createElement("p");
        if (parrafo.trim() != "") {
          nuevoParrafo.textContent = parrafo.trim();
          nuevoParrafo.style.marginBottom = "20px";
        }
        if (contenedor && contenedor) {
          contenedor.appendChild(nuevoParrafo);
        }
      });
    }
  });
</script>
