---
import Layout from "../../layouts/Layout.astro";
import Articulo1 from "../../components/Articulo.astro";
import ArticulosHero from "../../components/Articulos/ArticulosHero.astro";
import Video from "../../components/Video.astro";
import Footer from "../../components/Contact.astro";
import Header from "../../components/Header.astro";

import { db, Articulo, desc } from "astro:db";

const articulos = await db
  .select()
  .from(Articulo)
  .orderBy(desc(Articulo.fecha))
  .limit(24);
---

<Layout title="MdMusica" description="Una adicción sin efectos secundarios">
  <Header />
  <main>
    <Video />
    <h1 class="text-5xl pb-2 pt-20 m-auto px-6 max-w-[1800px] text-center font-bold">Articulos 📝</h1>
    <hr class="max-w-[1750px] w-full m-auto px-6 pb-6">

    <div
      class="m-auto px-6 max-w-[1800px] w-full grid grid-cols-1 md:grid-cols-2 gap-8 pb-10"
    >
      {
        articulos.map((n) => (
          <a href={`/Articulo/${n.titulo}`}>
            <Articulo1 title={n.titulo} image={n.imagen} color={n.color} />
          </a>
        ))
      }
    </div>
  </main>
  <Footer />
</Layout>

<style></style>
