<div class="flex justify-center items-center mt-6">
  <h1 class="text-center text-3xl border-2 w-fit p-2 rounded-md">Las últimas novedades</h1>
</div>

<div class="grid grid-cols-7 grid-rows-5 p-4 w-full gap-6 max-h-[700px]">
  <div class="col-span-4 row-span-5">
    <img
      class="rounded-lg object-cover w-full h-full"
      src="https://yt3.googleusercontent.com/_rt-5t30y7UtVvFkdduq4aiU86f1i3E7WnSFKUFnO53yqQZE5uLLoTSBn9uYBYpTe1Hd_rZiiw=s900-c-k-c0x00ffffff-no-rj"
    />
  </div>

  <div class="col-span-3 row-span-3">
    <img
      class="rounded-lg object-cover w-full h-full"
      src="https://yt3.googleusercontent.com/_rt-5t30y7UtVvFkdduq4aiU86f1i3E7WnSFKUFnO53yqQZE5uLLoTSBn9uYBYpTe1Hd_rZiiw=s900-c-k-c0x00ffffff-no-rj"
    />
  </div>

  <div class="col-span-1 row-span-2">
    <img
      class="rounded-lg object-cover w-full h-full"
      src="https://yt3.googleusercontent.com/_rt-5t30y7UtVvFkdduq4aiU86f1i3E7WnSFKUFnO53yqQZE5uLLoTSBn9uYBYpTe1Hd_rZiiw=s900-c-k-c0x00ffffff-no-rj"
    />
  </div>

  <div class="col-span-2 row-span-2">
    <img
      class="rounded-lg object-cover w-full h-full"
      src="https://yt3.googleusercontent.com/_rt-5t30y7UtVvFkdduq4aiU86f1i3E7WnSFKUFnO53yqQZE5uLLoTSBn9uYBYpTe1Hd_rZiiw=s900-c-k-c0x00ffffff-no-rj"
    />
  </div>
</div>
