---
import { db, Lanzamientos } from "astro:db";

if (Astro.request.method === "POST") {
  // parse form data
  const formData = await Astro.request.formData();
  const url = formData.get("Url");
  const imagen = formData.get("Imagen");

  if (typeof url === "string" && typeof imagen === "string") {
    await db.insert(Lanzamientos).values({ url, imagen });
  }
}
---

<div class="flex justify-around flex-col md:flex-row">
  <div
    class="sm:p-20 p-6 bg-black border-r-4 w-full max-w-screen-lg min-h-screen flex flex-col"
  >
    <div class="flex items-end justify-between">
      <h1 class="text-5xl">Nuevo lanzamiento</h1>
      <a href="/Noticia/" class="">Ver noticias</a>
    </div>
    <hr />
    <br /><br />

    <div id="FormInputs">
      <div class="mt-10">
        <form method="POST" name="formNuevaNoticia">
          <label
            for="url"
            class="block mb-2 text-sm font-medium text-white dark:text-white"
            >Url</label
          >
          <textarea
            id="url"
            rows="2"
            name="Url"
            class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="Escribe aquí la url a spotify"></textarea>

          <br /><br />

          <label
            for="Imagen"
            class="block mb-2 text-sm font-medium text-white dark:text-white"
            >Imagen</label
          >
          <textarea
            id="Imagen"
            name="Imagen"
            rows="1"
            class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="Escribe aquí la url de la imagen"></textarea>

          <br /><br />

          <div class="flex flex-col">
            <button
              id="guardarBtn"
              type="button"
              class="mt-20 py-2.5 px-5 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"
              >Actualizar</button
            >

            <button
              id="subirBtn"
              type="submit"
              class="py-2.5 px-5 mb-2 text-sm font-bold text-gray-900 focus:outline-none bg-yellow-400 rounded-lg border border-gray-200 hover:bg-yellow-200 hover:text-black focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"
              >Subir lanzamiento ⚠️</button
            >
          </div>
        </form>
      </div>
    </div>
  </div>

  <div id="Preview" class="p-20 w-full min-h-screen max-w-4xl">
    <h1 class="text-5xl">Preview</h1>
    <hr /><br /><br />

    <img
      src=""
      id="previewImg"
      class="rounded-2xl w-[400px] h-auto mb-7"
    />

  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const guardarBtn = document.getElementById("guardarBtn");

    if (guardarBtn !== null) {
      guardarBtn.addEventListener("click", function () {

        // Obtener el valor del textarea para la imagen
        const imagenElement = document.getElementById("Imagen");
        if (
          imagenElement !== null &&
          imagenElement instanceof HTMLTextAreaElement
        ) {
          const imagenSrc = imagenElement.value;

          // Actualizar el src de la imagen en la vista previa
          const previewImg = document.getElementById(
            "previewImg"
          ) as HTMLImageElement;
          if (previewImg !== null) {
            previewImg.src = imagenSrc;
          } else {
            console.error(
              "No se encontró el elemento de vista previa de la imagen"
            );
          }
        } else {
          console.error(
            "No se encontró el elemento de la imagen o no es un textarea"
          );
        }
      });
    } else {
      console.error("No se encontró el botón de guardar");
    }
  });
</script>
