---
import { db, Articulo, desc } from "astro:db";

const articulos = await db
  .select()
  .from(Articulo)
  .orderBy(desc(Articulo.fecha))
  .limit(1);

const articulosIterator = articulos.values();
const articulo1 = articulosIterator.next().value;
---

<div
  class="relative bg-white"
  style="clip-path: polygon(100% 0, 100% 100%, 84% 94%, 78% 100%, 65% 95%, 50% 100%, 38% 92%, 15% 100%, 0 96%, 0 0);"
>
  <img
    class="w-full max-h-[950px] object-cover brightness-75"
    src={articulo1.imagen}
    style="clip-path: polygon(100% 0, 100% 99%, 84% 93%, 78% 99%, 65% 94%, 50% 99%, 38% 91%, 15% 99%, 0 95%, 0 0);"
  />

  <div
    class="absolute bottom-10 sm:bottom-16 left-10 lg:bottom-24 lg:left-10 max-w-[500px] lg:max-w-[500px] pr-12"
  >
    <h1 class="text-xl lg:text-5xl font-semibold">
      {articulo1.titulo}
    </h1>
    <a href={`/Articulo/${articulo1.slug}`}>
      <h3 class="text-md lg:text-2xl">Seguir leyendo</h3>
    </a>
  </div>
</div>

<style></style>
