---
import Layout from '../layouts/Layout.astro';
import AddArticulo from '../components/Form/AddArticulo.astro';
---

<Layout title="MdMusica"
		description="Una adicción sin efectos secundarios">
	<main>
        <AddArticulo />
	</main>
</Layout>

<style>
	
</style>
