---
import Layout from "../layouts/Layout.astro";
---

<Layout title="MdMusica" description="Una adicción sin efectos secundarios">
  <main>
    <img src="/NewMDM.png" class="absolute z-20 opacity-5 bottom-0 right-0 overflow-hidden w-[800px]">
    <section class="flex z-40">
      <div class="py-8 lg:py-16 px-4 m-auto max-w-[800px] w-full">
        <h2 class="mb-4 text-4xl font-extrabold text-gray-300 font-ones">
          Ponte en contacto con nosotros :)
        </h2>

        <form
          action="https://formspree.io/f/mgvwwarl"
          method="POST"
          class="space-y-8"
        >
          <div>
            <label
              for="email"
              class="block mb-2 text-lg font-medium text-gray-400 font-ones"
              >Tu email</label
            >
            <input
              type="email"
              id="email"
              name="email"
              class="font-ones bg-gray-50 border border-gray-300 text-gray-400 text-lg rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-3 sm:p-2"
              placeholder="nombre@email.com"
              required
            />
          </div>
          <div>
            <label
              for="subject"
              class="block mb-2 text-lg font-medium text-gray-400 font-ones"
              >Asunto</label
            >
            <input
              type="text"
              id="subject"
              name="subject"
              class="font-ones block p-3 w-full text-lg text-gray-400 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500"
              placeholder="Sobre qué nos vas a hablar?"
              required
            />
          </div>
          <div>
            <label
              for="message"
              class="font-ones block mb-2 text-lg font-medium text-gray-400"
              >Mensaje</label
            >
            <textarea
              id="message"
              name="message"
              rows="6"
              class="font-ones block p-3 w-full text-lg text-gray-400 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500"
              placeholder="Deja tu mensaje"></textarea>
          </div>
          <button
            type="submit"
            class="font-ones py-3 px-6 text-lg text-center text-gray-900 rounded-lg bg-white sm:w-auto hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300"
            >Enviar</button
          >
        </form>
      </div>
    </section>
  </main>
</Layout>

<style>
  section {
    min-height: 100vh;
  }
</style>
