---
import Layout from '../layouts/Layout.astro';
import Video from '../components/Video.astro';
import Nav from '../components/Nav.astro';
---

<Layout title="MdMadrid"
		description="Una adicción sin efectos secundarios">
	<Video />
	<main>

		  
	</main>
</Layout>

<style>
	
</style>
