---
import Layout from '../layouts/Layout.astro';
import Video from '../components/Video.astro';
import Intro from '../components/Intro.astro';
import BentoDossier from '../components/bento-dossier.astro';
import Nav from '../components/Nav.astro';
---

<Layout title="MdMusica"
		description="Una adicción sin efectos secundarios">
	<Video />
	<main>
		<Intro />
		<BentoDossier />
	</main>
</Layout>

<style>
	
</style>
