---
import Layout from '../layouts/Layout.astro';
import Video from '../components/Video.astro';
import Intro from '../components/Intro.astro';
import BentoDossier from '../components/bento-dossier.astro';
import Valores from '../components/Valores.astro';
import Contador from '../components/Contador.astro';
import Footer from '../components/Contact.astro';
import UneteALaFamilia from '../components/UneteALaFamilia.astro';
import Nav from '../components/Nav.astro';
---

<Layout title="MdMusica"
		description="Una adicción sin efectos secundarios">
	<Video />
	<main>
		<Intro />
		<BentoDossier />
		<Valores />
		<Contador  />
		<a href="/NoticiaForm/">AÑADIR NOTICIA?</a>
		<Footer />
	</main>
</Layout>

<style>
	
</style>
