---
import Layout from '../layouts/Layout.astro';
import AddLanzamiento from '../components/Form/AddLanzamiento.astro';
---

<Layout title="MdMusica"
		description="Una adicción sin efectos secundarios">
	<main>
        <AddLanzamiento />
	</main>
</Layout>

<style>
	
</style>
