---
import Layout from '../layouts/Layout.astro';
import AddNoticia from '../components/Form/AddNoticia.astro';
import Footer from '../components/Contact.astro';
---

<Layout title="MdMusica"
		description="Una adicción sin efectos secundarios">
	<main>
        <AddNoticia />
	</main>
</Layout>

<style>
	
</style>
