---
import Layout from "../layouts/Layout.astro";
import Noticia1 from "../components/Noticia.astro";
import Carroussel from "../components/Carroussel.astro";
import Destacadas from "../components/Destacadas.astro";
import BentoNoticias from "../components/BentoNoticias.astro";
import Footer from "../components/Contact.astro";
import Header from "../components/Header.astro";
import PorSiTeLoPerdiste from "../components/PorSiTeLoPerdiste.astro";

import { db, Noticia } from "astro:db";
const noticias = await db.select().from(Noticia);
---

<Layout title="MdMusica" description="Una adicción sin efectos secundarios">
  <Header />
  <main
    style="background-color: #000000;
    opacity: 0.8;
    background-image:  linear-gradient(#090909 2.8000000000000003px, transparent 2.8000000000000003px), linear-gradient(90deg, #090909 2.8000000000000003px, transparent 2.8000000000000003px), linear-gradient(#090909 1.4000000000000001px, transparent 1.4000000000000001px), linear-gradient(90deg, #090909 1.4000000000000001px, #000000 1.4000000000000001px);
    background-size: 70px 70px, 70px 70px, 14px 14px, 14px 14px;
    background-position: -2.8000000000000003px -2.8000000000000003px, -2.8000000000000003px -2.8000000000000003px, -1.4000000000000001px -1.4000000000000001px, -1.4000000000000001px -1.4000000000000001px;"
  >
    <Carroussel />
    <Destacadas />
    <BentoNoticias />
    
    <h1 class="text-5xl flex mt-3 justify-center">
      Por si te lo perdiste :(
    </h1>
    <PorSiTeLoPerdiste />
  </main>
  <Footer />
</Layout>

<style></style>
