---
import Layout from "../layouts/Layout.astro";
import Noticia1 from "../components/Noticia.astro";
import Carroussel from "../components/Carroussel.astro";
import Destacadas from "../components/Destacadas.astro";
import BentoNoticias from "../components/BentoNoticias.astro";
import Footer from "../components/Contact.astro";
import Header from "../components/Header.astro";

import { db, Noticia } from "astro:db";
const noticias = await db.select().from(Noticia);
---

<Layout title="MdMusica" description="Una adicción sin efectos secundarios">
  <Header />
  <main
    class=""
    style="background-color: #13151a;
    opacity: 1;
    background: repeating-linear-gradient( 45deg, #111216, #111216 20px, #13151a 20px, #13151a 100px );"
  >
    <Carroussel />
    <Destacadas />
    <BentoNoticias />
    <h1 class="text-5xl font-bold flex justify-center mt-20">
      Por si te lo perdiste :(
    </h1>
    <div class="flex gap-8 p-10 flex-wrap justify-center w-full">
      {noticias.map((n) => <Noticia1 title={n.titulo} image={n.imagen} />)}
    </div>
  </main>
  <Footer />
</Layout>

<style></style>
