---
import Layout from "../layouts/Layout.astro";
let password = '';
let error = '';
---

<Layout title="MdMusica" description="Una adicción sin efectos secundarios">
  <main class="m-auto w-full">
    <form onsubmit="handleSubmit(event)">
        <label for="password">Contraseña:</label>
        <input type="password" id="password" name="password" value={password} oninput="handleInputChange(event)" />
        <button type="submit">Ingresar</button>
        {error && <p>{error}</p>}
    </form>
  </main>
</Layout>

<style></style>

<script>

    let password = "";
    let error = "";

    // Manejar el cambio del valor del campo de entrada
    function handleInputChange(event: Event) {
      const inputElement = event.target as HTMLInputElement;
      password = inputElement.value;
    }
  
    function handleSubmit(event: Event) {
      event.preventDefault();
      // Aquí puedes agregar la lógica para validar la contraseña
      const correctPassword = 'tu_contraseña';
      if (password === correctPassword) {
        // Redirecciona al usuario a la página NoticiaForm si la contraseña es correcta
        window.location.href = '/NoticiaForm/';
      } else {
        setError('Contraseña incorrecta. Por favor, inténtalo de nuevo.');
      }
    }
  
    function setError(errorMessage: string) {
      error = errorMessage;
      setTimeout(() => {
        error = '';
      }, 3000); // Limpia el mensaje de error después de 3 segundos
    }
  </script>