---
import Layout from "../../layouts/Layout.astro";
import Footer from "../../components/Contact.astro";
import HeaderStatic from "../../components/HeaderStatic.astro";
import { db, Noticia, eq } from "astro:db";

const { NoticiaContent } = Astro.params;
const noticiasTitulos = await db
  .select()
  .from(Noticia)
  .where(eq(Noticia.titulo, NoticiaContent as string));
---

<Layout
  title="MdMusica - Noticia"
  description="Una adicción sin efectos secundarios"
>
  <HeaderStatic />
  <main class="mt-32 md:mt-40 mx-auto px-4 max-w-7xl">
    {
      noticiasTitulos.map(({ titulo, imagen, contenido, autor }) => (
        <article>
          <h1 class="text-2xl md:text-4xl font-bold" id="tituloNoticia">
            {titulo}
          </h1>
          <hr />
          <img
            class="my-6 w-full rounded-lg object-cover max-h-[600px]"
            src={imagen}
          />
          <div id="contenidoParrafos" class="text-lg md:text-xl">
            {contenido}
          </div>
          <div class="italic text-md mb-20 text-slate-500">
            Escrito por {autor}
          </div>
        </article>
      ))
    }
  </main>
  <Footer />
</Layout>

<script>
  window.addEventListener("DOMContentLoaded", () => {
    const contenedor: HTMLElement | null =
      document.getElementById("contenidoParrafos");

    if (contenedor) {
      const textoOriginal: string = contenedor.textContent || "";
      const parrafos: string[] = textoOriginal.split("|");
      contenedor.innerHTML = "";

      parrafos.forEach((parrafo: string) => {
        const nuevoParrafo: HTMLParagraphElement = document.createElement("p");
        if (parrafo.trim() != "") {
          nuevoParrafo.textContent = parrafo.trim();
          nuevoParrafo.style.marginBottom = "20px";
        }
        if (contenedor && contenedor) {
          contenedor.appendChild(nuevoParrafo);
        }
      });
    }
  });
</script>
