---
const { title } = Astro.props;
const { image } = Astro.props;
const { color } = Astro.props;
---

<div
  class="art rounded-lg md:p-10 p-4 relative h-36 sm:h-80 w-full min-w-[100px]"
  style={`background-color: ${color};`}
>
  <h1 class="text-lg lg:text-xl font-semibold z-10 absolute bottom-4 left-4 md:bottom-4 pr-10">{title}</h1>

  <div class="absolute right-0 top-0">
    <div class="mask-left-transparent">
      <img
        src={image}
        alt="Imagen"
        class="rounded-lg h-36 sm:h-80 w-auto object-cover brightness-50"
      />
    </div>
  </div>
</div>

<style>
  .mask-left-transparent {
    -webkit-mask-image: linear-gradient(
      to left,
      rgba(0, 0, 0, 1) 40%,
      rgba(0, 0, 0, 0) 100%
    );
    mask-image: linear-gradient(
      to left,
      rgba(0, 0, 0, 1) 40%,
      rgba(0, 0, 0, 0) 100%
    );
  }

  .art {
    transition: all 0.3s;
    cursor: pointer;
  }

  .art:hover {
    transform: scale(1.05);
    border: 2px solid white;
  }
</style>
