<div class="p-20">
  <h2 class="text-5xl mb-10">Novedades ✨</h2>
  <div class="grid grid-cols-6 gap-6">
    <div class="notiContainer col-span-1 row-span-1 relative">
      <img
        class="rounded-xl object-cover w-full h-full brightness-50"
        src="https://www.eldiasegovia.es/media/IMG/2024/C5AF34D4-A14F-F5E1-1746DD14034262DC.JPG"
      />
      <p class="absolute left-6 bottom-6 text-xl font-bold">
        Titulo1 asd as dasd asd asd asd asd assdas dasd asd as das dasd
      </p>
    </div>

    <div class="notiContainer col-span-1 row-span-1 relative">
      <img
        class="rounded-xl object-cover w-full h-full brightness-50"
        src="https://www.eldiasegovia.es/media/IMG/2024/C5AF34D4-A14F-F5E1-1746DD14034262DC.JPG"
      />
      <p class="absolute left-6 bottom-6 text-xl font-bold">
        Titulo1 asd as dasd asd asd asd asd assdas dasd asd as das dasd
      </p>
    </div>

    <div class="notiContainer col-span-1 row-span-1 relative">
      <img
        class="rounded-xl object-cover w-full h-full brightness-50"
        src="https://www.eldiasegovia.es/media/IMG/2024/C5AF34D4-A14F-F5E1-1746DD14034262DC.JPG"
      />
      <p class="absolute left-6 bottom-6 text-xl font-bold">
        Titulo1 asd as dasd asd asd asd asd assdas dasd asd as das dasd
      </p>
    </div>

    <div class="notiContainer col-span-2 row-span-3 relative">
      <img
        class="rounded-xl object-cover w-full h-full brightness-50"
        src="https://www.eldiasegovia.es/media/IMG/2024/C5AF34D4-A14F-F5E1-1746DD14034262DC.JPG"
      />
      <p class="absolute left-6 bottom-6 text-xl font-bold">
        Titulo1 asd as dasd asd asd asd asd assdas dasd asd as das dasd
      </p>
    </div>

    <div class="notiContainer col-span-1 row-span-3 relative">
      <img
        class="rounded-xl object-cover w-full h-full brightness-50"
        src="https://www.eldiasegovia.es/media/IMG/2024/C5AF34D4-A14F-F5E1-1746DD14034262DC.JPG"
      />
      <p class="absolute left-6 bottom-6 text-xl font-bold">
        Titulo1 asd as dasd asd asd asd asd assdas dasd asd as das dasd
      </p>
    </div>

    <div class="notiContainer col-span-3 row-span-3 relative">
      <img
        class="rounded-xl object-cover w-full h-full brightness-50"
        src="https://www.eldiasegovia.es/media/IMG/2024/C5AF34D4-A14F-F5E1-1746DD14034262DC.JPG"
      />
      <p class="absolute left-6 bottom-6 text-xl font-bold">
        Titulo1 asd as dasd asd asd asd asd assdas dasd asd as das dasd
      </p>
    </div>

    <div class="notiContainer col-span-3 row-span-2 relative">
      <img
        class="rounded-xl object-cover w-full h-full brightness-50"
        src="https://www.eldiasegovia.es/media/IMG/2024/C5AF34D4-A14F-F5E1-1746DD14034262DC.JPG"
      />
      <p class="absolute left-6 bottom-6 text-xl font-bold">
        Titulo1 asd as dasd asd asd asd asd assdas dasd asd as das dasd
      </p>
    </div>

    <div class="notiContainer col-span-2 row-span-1 relative">
      <img
        class="rounded-xl object-cover w-full h-full brightness-50"
        src="https://www.eldiasegovia.es/media/IMG/2024/C5AF34D4-A14F-F5E1-1746DD14034262DC.JPG"
      />
      <p class="absolute left-6 bottom-6 text-xl font-bold">
        Titulo1 asd as dasd asd asd asd asd assdas dasd asd as das dasd
      </p>
    </div>

    <div class="notiContainer col-span-1 row-span-1 relative">
      <img
        class="notiContainer rounded-xl object-cover w-full h-full brightness-50"
        src="https://www.eldiasegovia.es/media/IMG/2024/C5AF34D4-A14F-F5E1-1746DD14034262DC.JPG"
      />
      <p class="absolute left-6 bottom-6 text-xl font-bold">
        Titulo1 asd as dasd asd asd asd asd assdas dasd asd as das dasd
      </p>
    </div>
  </div>
</div>

<style>
  .notiContainer {
    border-radius: 10px;
    transition: all 0.3s;
    cursor: pointer;
  }

  .notiContainer:hover {
    transform: scale(1.05);
    border: 2px solid white;
  }
</style>
