<section class="mx-auto max-w-[115ch] pb-20 px-14">
    <div class="grid gap-2 grid-cols-3">

        <!-- Primer contenedor -->
        <div class="col-span-2 row-span-1 border border-indigo-600 rounded-md relative overflow-hidden hover:scale-105 transition-transform duration-300">
            <img src="/conciertos.png" class="object-cover w-full h-full" alt="Conciertos 1">
            <div class="absolute inset-0 flex items-center justify-center">
                <p class="text-white font-bold text-2xl transition-transform duration-300">Noticias</p>
            </div>
        </div>

        <!-- Segundo contenedor, ocupando dos filas -->
        <div class="col-span-1 row-span-2 border border-indigo-600 rounded-md relative overflow-hidden hover:scale-105 transition-transform duration-300">
            <img src="/conciertos.png" class="object-cover w-full h-full" alt="Conciertos 2">
            <div class="absolute inset-0 flex items-center justify-center">
                <p class="text-white font-bold text-2xl transition-transform duration-300">Conciertos</p>
            </div>
        </div>

        <!-- Tercer contenedor -->
        <div class="col-span-1 row-span-1 border border-indigo-600 rounded-md relative overflow-hidden hover:scale-105 transition-transform duration-300">
            <img src="/conciertos.png" class="object-cover w-full h-full" alt="Conciertos 3">
            <div class="absolute inset-0 flex items-center justify-center">
                <p class="text-white font-bold text-2xl transition-transform duration-300">Artistas</p>
            </div>
        </div>

        <!-- Cuarto contenedor -->
        <div class="col-span-1 row-span-1 border border-indigo-600 rounded-md relative overflow-hidden hover:scale-105 transition-transform duration-300">
            <img src="/conciertos.png" class="object-cover w-full h-full" alt="Conciertos 4">
            <div class="absolute inset-0 flex items-center justify-center">
                <p class="text-white font-bold text-2xl transition-transform duration-300">Podcast</p>
            </div>
        </div>

    </div>
</section>
