<section class="mx-auto max-w-[113ch] pb-6 px-6">
    <div class="grid gap-2 grid-cols-3">
        <div class="col-span-2 row-span-1 rounded-md relative overflow-hidden hover:scale-105 transition-transform duration-300">
            <img src="/noticias.webp" class="object-cover w-full h-full opacity-65" alt="Noticias">
            <div class="absolute inset-0 flex items-center justify-center">
                <p class="text-white font-bold text-2xl transition-transform duration-300 cursor-auto">Noticias</p>
            </div>
        </div>

        <div class="col-span-1 row-span-2 rounded-md relative overflow-hidden hover:scale-105 transition-transform duration-300">
            <img src="/conciertos.webp" class="object-cover w-full h-full opacity-65" alt="Eventos">
            <div class="absolute inset-0 flex items-center justify-center">
                <p class="text-white font-bold text-2xl transition-transform duration-300 cursor-auto">Eventos</p>
            </div>
        </div>

        <div class="col-span-1 row-span-1 rounded-md relative overflow-hidden hover:scale-105 transition-transform duration-300">
            <img src="/artistas.webp" class="object-cover w-120 h-full opacity-65" alt="Artistas">
            <div class="absolute inset-0 flex items-center justify-center">
                <p class="text-white font-bold text-2xl transition-transform duration-300 cursor-auto">Artistas</p>
            </div>
        </div>

        <div class="col-span-1 row-span-1 rounded-md relative overflow-hidden hover:scale-105 transition-transform duration-300">
            <img src="/podcast.webp" class="object-cover w-full h-full opacity-65" alt="Podcast">
            <div class="absolute inset-0 flex items-center justify-center">
                <p class="text-white font-bold text-2xl transition-transform duration-300 cursor-auto">Podcast</p>
            </div>
        </div>
    </div>
</section>
