<section class="mx-auto max-w-[113ch] pb-20 px-14">
    <div class="grid gap-2 grid-cols-3">

        <!-- Primer contenedor -->
        <div class="col-span-2 row-span-1 rounded-md relative overflow-hidden hover:scale-105 transition-transform duration-300">
            <img src="/noticias.jpg" class="object-cover w-full h-full opacity-65" alt="Noticias">
            <div class="absolute inset-0 flex items-center justify-center">
                <p class="text-white font-bold text-2xl transition-transform duration-300">Noticias</p>
            </div>
        </div>

        <!-- Segundo contenedor -->
        <div class="col-span-1 row-span-2 rounded-md relative overflow-hidden hover:scale-105 transition-transform duration-300">
            <img src="/conciertos.png" class="object-cover w-full h-full opacity-65" alt="Conciertos">
            <div class="absolute inset-0 flex items-center justify-center">
                <p class="text-white font-bold text-2xl transition-transform duration-300">Conciertos</p>
            </div>
        </div>

        <!-- Tercer contenedor -->
        <div class="col-span-1 row-span-1 rounded-md relative overflow-hidden hover:scale-105 transition-transform duration-300">
            <img src="/artistas.jpeg" class="object-cover w-120 h-full opacity-65" alt="Artistas">
            <div class="absolute inset-0 flex items-center justify-center">
                <p class="text-white font-bold text-2xl transition-transform duration-300">Artistas</p>
            </div>
        </div>

        <!-- Cuarto contenedor -->
        <div class="col-span-1 row-span-1 rounded-md relative overflow-hidden hover:scale-105 transition-transform duration-300">
            <img src="/podcast.jpg" class="object-cover w-full h-full opacity-65" alt="Podcast">
            <div class="absolute inset-0 flex items-center justify-center">
                <p class="text-white font-bold text-2xl transition-transform duration-300">Podcast</p>
            </div>
        </div>

    </div>
</section>
