

<footer class="bg-gray-300 text-black px-20 py-10">

    <p class="text-2xl font-semibold">
        Contáctanos
    </p>
    <ul>
        <li><a href="https://www.instagram.com/madridconmdemusica/">Instagram</a></li>
        <li><a href="">Twitter</a></li>
        <li><a href="https://www.tiktok.com/@madridemusica">TikTok</a></li>
        <li><a href="mailto:madridconmdemusica@gmail.com">madridconmdemusica@gmail.com</a></li>
    </ul>

</footer>