<div
  class="bg-slate-200 px-2 sm:px-10 py-6 w-full flex flex-col rounded-b-[10px] overflow-hidden overflow-x-hidden"
>
  <h2
    class="text-lg md:text-2xl font-semibold bg-black w-fit px-4 rounded-md mb-4"
  >
    Ultimos lanzamientos
  </h2>
  <div class="ultimosLanzamientos flex gap-2 justify-between items-center">
    <img
      class="rounded-md w-1/6 min-w-[150px] h-auto object-cover"
      src="https://www.lahiguera.net/musicalia/artistas/rels_b/disco/13475/rels_b_a_new_star_1_9_9_3-portada.jpg"
    />
    <img
      class="rounded-md w-1/6 min-w-[150px] h-auto object-cover"
      src="https://www.lahiguera.net/musicalia/artistas/varios/disco/13476/saiko_sakura-portada.jpg"
    />
    <img
      class="rounded-md w-1/6 min-w-[150px] h-auto object-cover"
      src="https://www.lahiguera.net/musicalia/artistas/wisin/disco/13462/wisin_mr_w-portada.jpg"
    />
    <img
      class="rounded-md w-1/6 min-w-[150px] h-auto object-cover"
      src="https://www.lahiguera.net/musicalia/artistas/toteking/disco/13448/toteking_luces_fuera-portada.jpg"
    />
    <img
      class="rounded-md w-1/6 min-w-[150px] h-auto object-cover"
      src="https://www.lahiguera.net/musicalia/artistas/feid/disco/13446/feid_manifesting_20_05___con_yandel-portada.jpg"
    />
  </div>
</div>

<style>
  @media (max-width: 800px) {
    .ultimosLanzamientos {
      overflow-x: auto;
    }
  }

  img {
    transition: all 0.3s;
  }

  img:hover {
    transform: scale(1.1);
  }
</style>
