---
import { db, Lanzamientos, desc } from "astro:db";

const lanzamientos = await db
  .select()
  .from(Lanzamientos)
  .orderBy(desc(Lanzamientos.fecha))
  .limit(5);
---

<div
  class="bg-slate-200 px-2 sm:px-10 py-6 w-full flex flex-col rounded-b-[10px] overflow-hidden overflow-x-hidden"
>
  <h2
    class="text-lg md:text-2xl font-semibold bg-black w-fit px-4 rounded-md mb-4"
  >
    Ultimos lanzamientos
  </h2>
  <div class="ultimosLanzamientos flex gap-2 justify-between items-center">
    {
      lanzamientos.map((lanzamiento) => (
        <a class="w-1/6 min-w-[150px]" href={lanzamiento.url} target="_blank">
          <img
            class="rounded-md h-auto object-cover"
            src={lanzamiento.imagen}
          />
        </a>
      ))
    }
  </div>
</div>

<style>
  @media (max-width: 800px) {
    .ultimosLanzamientos {
      overflow-x: auto;
    }
  }

  img {
    transition: all 0.3s;
  }

  img:hover {
    transform: scale(1.1);
  }
</style>
