<div
  class="bg-slate-200 px-10 py-6 w-full flex flex-col gap-6 rounded-b-[10px]"
>
  <div class="flex gap-10">
    <img
      class="rounded-md w-1/5 h-auto object-contain"
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQVNMOyc6GhvI9OTWqlMHG42ysoptPR8PAYfnOysG_efQ&s"
    />
    <img
      class="rounded-md w-1/5 h-auto object-contain"
      src="https://okdiario.com/img/2023/10/25/feid..jpg"
    />
    <img
      class="rounded-md w-1/5 h-auto object-contain"
      src="https://www.billboard.com/wp-content/uploads/2022/10/03-feid-2022-cr-Sebastian-Sanchez-billboard-1548.jpg?w=942&h=623&crop=1"
    />
    <img
      class="rounded-md w-1/5 h-auto object-contain"
      src="https://imagenes.lainformacion.com/files/og_thumbnail_1900/uploads/imagenes/2023/10/26/dinero-gana-feid-youtube-spotify.jpeg"
    />
    <img
      class="rounded-md w-1/5 h-auto object-contain"
      src="https://www.eldiasegovia.es/media/IMG/2024/C5AF34D4-A14F-F5E1-1746DD14034262DC.JPG"
    />
  </div>
</div>

<style>
  img {
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  }
</style>
