<section class="text-xl px-6 max-w-[90ch] mx-auto pt-20 pb-10 flex flex-col gap-4 items-center text-pretty">

    <img src="/MDMLogoColor.svg" width="150" height="auto" class="mb-[-4ch] mt-[-4ch]"/>
    <h1 class="text-4xl font-semibold">
    ¿Que somos?
    </h1>
    <p>
        En MDM, nuestro objetivo es proporcionar un <strong>medio digital</strong> musical que suponga una experiencia <strong>inigualable</strong>. MDM surge con la intención de crear un <strong>referente</strong> en el ámbito digital musical, no solo como fuente sino como recurso para los más apasionados de la música. 
    </p>
    <p>
        Nuestro propósito va más allá de ofrecer noticias sobre los máximos exponentes musicales, respaldamos la <strong>música emergente</strong>, ofreciendo voz a aquellos artistas que buscan un espacio para compartir sus proyectos y aportaciones al mundo musical. 
    </p>
    <p>
        La saturación de plataformas enfocadas en la creación de contenido ha servido de impulso a los fundadores de MDM con la visión de construir un espacio dedicado específicamente a la información y creación musical. Nuestra motivación principal radica en el <strong>amor por la música</strong> y en apoyar el trabajo de los artistas. En resumen, nuestro vínculo con los usuarios se fundamenta en esa pasión compartida por el arte musical.
    </p>
</section>