<section class="text-3xl px-14 max-w-[60ch] mx-auto pt-20 pb-10 flex flex-col gap-4 items-center text-pretty">

    <img src="/mdmLogo.png" width="100" height="auto" />
    <h1 class="text-5xl font-semibold">
    Que es MdM?
    </h1>
    <p>
    Descubre la riqueza y diversidad de la escena musical de España a través de nuestra página web. Te ofrecemos una amplia gama de información sobre artistas, géneros, conciertos y el vibrante panorama musical actual.
    </p>
</section>