<section class="text-2xl px-6 max-w-[75ch] mx-auto pt-20 pb-10 flex flex-col gap-4 items-center text-pretty">

    <img src="/mdmLogoColor.webp" width="100" height="auto" />
    <h1 class="text-5xl font-semibold">
    ¿Que es MdM?
    </h1>
    <p>
    Descubre la riqueza y diversidad de la <strong>escena musical de España</strong> a través de nuestra página web. Te ofrecemos una amplia gama de información sobre <strong>artistas, géneros, conciertos</strong> y el vibrante panorama musical actual.
    </p>
    <p>
    No te pierdas ni un solo <strong>concierto</strong> con nuestra sección de eventos, donde te ofrecemos detalles sobre las <strong>giras</strong> más destacadas y las actuaciones en vivo que no querrás perderte. Además, sumérgete en <strong>entrevistas exclusivas</strong> con artistas y expertos de la industria que te brindarán una visión única del <strong>mundo musical español</strong>.
    </p>
</section>