
<section class="text-xl px-6 max-w-[91ch] mx-auto pt-20 pb-28 flex flex-col gap-4 text-pretty">

    <div class="flex flex-col md:flex-row gap-5 text-pretty">
        <div>
            <h3 class="text-2xl font-semibold">
                Misión
            </h3>
            <p>
                Ofrecer una plataforma digital que abarque todo tipo de contenidos relacionados con el universo musical con una perspectiva periodística.
            </p>
        </div>

        <div>
            <h3 class="text-2xl font-semibold">
                Visión
            </h3>
            <p>
                Convertirnos en el medio musical de referencia en España; la plataforma donde converge todo el espectro musical actual.
            </p>
        </div>

        <div>
            <h3 class="text-2xl font-semibold">
                Valores
            </h3>
            <p>
                Diversidad, inclusión, integridad periodística, transmedialidad, interacción, participación, promoción de talento, innovación y evolución. 
            </p>
        </div>
    </div>

</section>
