<div class="w-full relative">

    <p class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 z-10 text-6xl text-white font-bold">
        MdMadrid<br>
        <span class="font-thin">Una adicción sin efectos secundarios</span>
      </p>
    <video class="w-full h-screen object-cover" src="/desert.mp4" autoplay loop muted
    style="clip-path: polygon(0 0, 100% 0, 100% 88%, 50% 100%, 0 87%);"/>
    <video class="absolute -bottom-48 blur-3xl -z-40" src="/desert.mp4" autoplay loop muted/>

</div>