<div class="w-full relative">

    <p class="absolute top-10 z-10 left-0 right-0 m-auto text-3xl">MdMadrid</p>
    <video class="w-full h-screen object-cover" src="/desert.mp4" autoplay loop muted
    style="clip-path: polygon(0 0, 100% 0, 100% 88%, 50% 100%, 0 87%);"/>
    <video class="absolute -bottom-48 blur-3xl -z-40" src="/desert.mp4" autoplay loop muted/>

</div>