<div class="w-full relative">

    <div class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 z-10 text-6xl text-white font-bold">
        <img src="logoMdMusica.png">
        <span class="font-thin">Una adicción sin efectos secundarios.</span>
    </div>
    <video class="w-full h-screen object-cover" src="/Mdmusica2.mp4" autoplay loop muted
    style="clip-path: polygon(0 0, 100% 0, 100% 88%, 50% 100%, 0 88%);"/>
    <video class="absolute -bottom-48 blur-3xl -z-40" src="/Mdmusica2.mp4" autoplay loop muted/>

</div>